html {
	--text-color-normal: #0a244d;
	--text-color-light: #8cabd9;
  }
  html[data-theme='dark'] {
	--text-color-normal: hsl(210, 10%, 62%);
	--text-color-light: hsl(210, 15%, 35%);
	--text-color-richer: hsl(210, 50%, 72%);
	--text-color-highlight: hsl(25, 70%, 45%);
  }
  @media screen and (prefers-color-scheme: dark) {
	  body {
		background-color: black;
		color: white;
	  }
  }
  @media screen and (prefers-color-scheme: light) {
	body {
	  background-color: white;
	  color: black;
	}
  }
  a:visited {
	color: #463b5e;
	text-decoration: aquamarine
  }
  .np_buttonbar{
	  background:#26598f;
	  color: white
  }
  #tr_np_thread_head {
	  color: #fff
  }
  .sign{
	  color:rgb(140, 108, 108)
  }
  .red,.rouge{
	  color:#8e3232
  }
  .rouge{
	  font-weight:bolder
  }
  .fuchsia{
	  color:rgb(136, 24, 136)
  }
  .teal{
	  color:#067575
  }
  .np_index_grouphead,a.np_button,.np_pages, tr.np_thread_head
  , .np_pages_selected, .np_pages_unselected,#article a.np_button{
	  color:#fff
  }
  .np_index_grouphead{
	  background:#2a76b6
  }
  h1.np_post_headline{
	  border-color: #3DACC2
  }
  .np_buttonbar{
	  background:#26598f;
  }
  #article a.np_button{
	  background-color: #26598F
  }
  blockquote.np_article_quote{
	  color:#D97272;
  }
  blockquote.np_article_quote blockquote{
	  color:#66AD66
  }
  blockquote.np_article_quote blockquote blockquote{
	  color:#C51DCA
  }
  blockquote.np_article_quote blockquote blockquote blockquote{
	  color:#FF7923
  }
  blockquote.np_article_quote blockquote blockquote blockquote blockquote{
	  color:#05F
  }
  blockquote.np_article_quote blockquote blockquote blockquote blockquote blockquote{
	  color:#900
  }
  blockquote.np_article_quote blockquote blockquote blockquote blockquote blockquote blockquote{
	  color:#666
  }
  blockquote.np_article_quote blockquote blockquote blockquote blockquote blockquote blockquote blockquote{
	  color:gray;
	  border-color:gray
  }
  #fu2{
	  color:#cd5c5c
  }
  #p_group_head2{
	  color:#26598f;
  }	
  #p_group_head2 a{
	  color:#008b8b;
  }
  tr.np_thread_head,td.np_thread_head,.np_buttonbar a{
	  background-color: #26598F;
	  color: white
  }
  a:hover{
	  color: black;
  }
  button, button a, input,a.button{
	  color: inherit;
  }
  .np_index_groups, div.np_article_header, .np_post_header,.np_post_body{
	  background:#eee
  }
  tr.np_thread_line2,td.np_thread_line2{
		  background:#f0f0e0;
		  border-color:#d5f4d9
  }
  tr.np_thread_line1,td.np_thread_line1{
	  background:#b8cbcc
  }
  input {
  color: var(--color);
  }
  @media screen and (prefers-color-scheme: light) {
	  .np_index_groups, div.np_article_header, .np_post_header,.np_post_body,.np_buttonbar a,.np_index_groups a{
		  background:white
	  }
	  input{
		  background-color:whitesmoke;
	  }
	  #article .np_buttonbar,#article td.np_button,td.np_buttonbar a.np_button
	  ,.np_buttonbar td,.np_thread_line_text,#article a.np_button,.np_buttonbar a {
		  color: black}
	  #article .np_buttonbar,#article td.np_button,td.np_buttonbar a.np_button
	  ,.np_buttonbar td,.np_thread_line_text,#article a.np_button,.np_buttonbar a {
		  font-size: larger;}
	  #article .np_buttonbar,#article td.np_button,td.np_buttonbar a.np_button,.np_buttonbar td,#article a.np_button{
		  background-color: white }
	  #p_group_head2,#p_group_head2 a{
		  color:#008b8b;
	  }
	  .np_buttonbar{
		  background:#26598f
	  }
  }
  @media screen and (prefers-color-scheme: dark) {
	#tr_np_thread_head {
	  background-color: white;
	  color: black;
	}
	.sign { color:#72e0d1 }
	#p_group_head2,#p_group_head2 a, .np_index_grouphead,.np_index_groups a,a.np_button,.np_pages, tr.np_thread_head, .np_pages_selected
	, .np_pages_unselected, tr.tr_np_thread_head, .np_thread_head,.np_buttonbar
	  ,#article .np_buttonbar,#article td.np_button,td.np_buttonbar a.np_button,.np_buttonbar td,#article a.np_button
	  , div.np_article_header a,div.np_article_body a,p a, p.droite a,p.gauche a,button,#a_group_head2 {
		  color:white
   }
	  .np_index_grouphead,.np_buttonbar,a.np_button, tr.tr_np_thread_head, .np_thread_head
	  ,.np_buttonbar,#article .np_buttonbar,#article td.np_button,td.np_buttonbar a.np_button
	  ,.np_buttonbar td,#article a.np_button,button {
		  background:black
	  }
	  input,a.button{
		  background-color:black
	  }
	  .np_index_groups, div.np_article_header, .np_post_header,.np_post_body, div.np_article_header a{
	  background:#403838;
  }
	  #article a.np_button {
		background-color:black;
	}
	  blockquote.np_article_quote {
		  color: #fff;
		  border-left: #a4c0ea .1em solid;
	  }
	  blockquote.np_article_quote {
		  color: #EAE3E3;
		  border-left: #a3a5a9 .1em solid;
	  }
	  .np_buttonbar,.np_buttonbar td.np_button, .np_buttonbar td, .np_buttonbar a{
		  background-color: black;
		  color: white
	  }
	a:hover {
	  background-color: black;
	  color: white;
	}
	 tr.np_thread_line2,td.np_thread_line2,td.np_thread_line2 a{
	  background:rgb(64, 56, 56)}
	  .np_thread_line_subject a {color: white}
	  .fuchsia{ color:#e6a5e6}
	  .red {color: #280e0f}
	  .np_thread_line2 .red,.rouge { color:#bda183}
	  .teal { color:rgb(3, 17, 17);}
	  .np_thread_line2 span.red, .np_thread_line2 span.teal {color: whitesmoke}
	  tr.np_thread_line1,td.np_thread_line1{
		  background:rgb(125, 130, 130)}
  }
  /*
	  fin de la définition des couleurs (color et background)
  */
  body {
	text-align:left
  }
  table{
	  border-collapse: collapse;
  }
  .nocut,td.np_button{
	  white-space:nowrap
  }
  td.np_button_back_to_group, span.ckie{
	  display:table-cell;
	  max-width:5em;
	  white-space: pre-line
  }
  br.spacer3 {
	  line-height: 195%;
  }
  textarea, p.error, #p_group_head2, #p_group_head2 a{
	  padding-left: 1em
  }
  td, td.np_button_back_to_group, span.ckie{
	  table-layout: fixed
  }
  blockquote.np_article_quote, a, td.np_button,
  .width_1, .np_article_body{
	  padding-left: 0.3em
  }
  .np_thread_line_text{
	  padding-left: 0.1em
  }
  .np_thread_subject{
	  padding: 0;
	  margin: 0;
	  border:0;
	  text-align: left;
	  vertical-align: top;
  }
  tr.np_thread_head, td.np_thread_head, tr{
	  vertical-align: bottom;
	  }
  th.np_thread_subject, tr{
	  padding-left: 2vw
  }
  span.spacer{
	  padding-left: .5em
  }
  a{
	  padding:0
  }
  .gauche{
	  text-align:left
  }
  .droite{
	  text-align:right
  }
  .width_100,tr.np_thread_head,#tr_np_thread_head,table.np_thread_table, table.np_thread_table, tbody{
	  width:100%;
	  width:98vw;
	  max-width: 99vw
  }
  .width_1{
	  width:1%
  }
  table tr td, .np_index_groups, table.np_thread_table, .np_article_body a, button, button a, input,a.button{
	  padding:0
  }
  #td_post{
	  display: inline-flex;
		  text-indent: revert;
  }
  .np_index_groups, .np_index_grouphead, table.np_thread_table
  , div.np_article_header, .np_post_header
  , .np_post_body{
	  border:solid .1em #2974b4
  }
  div.np_post_body table, div.np_post_body table tbody,div.np_post_body table tr{
	  width: 100%;
	  margin: 0;
	  padding: 0;
	  border: 0;
	  border-spacing: 0;
  }
  div.np_article_header{
	  padding:.225em;
	  padding-bottom: 0.3em
  }
  .np_index_groupblock{
	  margin-bottom:2em
  }
  .np_index_group{
	  margin-left:.625em;
	  margin-bottom:.3em
  }
  table.np_thread_table,tr.np_thread_head,td.np_thread_head,blockquote.np_article_quote
  ,tr.np_thread_line1,td.np_thread_line1,tr.np_thread_line2,td.np_thread_line2,button, button a, input,a.button{
	  margin:0
  }
  table.np_thread_table{
	  border-spacing:0;
  }
	  
  tr.np_thread_head,td.np_thread_head{
	  height:2em
  }
  tr.np_thread_line1,td.np_thread_line1,tr.np_thread_line2,td.np_thread_line2{
	  height:4vw;
	  max-height:4vw;
	  min-height:4vw;
	  padding:0 0 0 .225em
  }
  .thread_image{
	  vertical-align:bottom }
  .thread_image2{
	  width:12px
  }
  img.image_k2{
	  width:9px
  }
  .thread_image,.thread_image2{
	  height:2em
  }
  .thread_image2, img.image_e, img.image_s, img.image_T, img.image_L, img.image_k1, img.image_k2{
		  height:23px
  }
  img.image_T{
		  width:11px
  }
  img.image_i{
	  width:14px;
	  height:24px
  }
  tr.nocut{
	  padding-bottom: 0.3em;
	  padding-top: 1em;
  }
  blockquote.np_article_quote{
	  border-left:#025 .1em solid
  }
  td.np_thread_line_author span.np_thread_line_text {
	  width: 5em;text-align:left
  }
  .np_article_quote p{
	  margin-top:1em;
	  margin-bottom:1em
  }
  .np_post_header{
	  padding:.6em
  }
  h1.np_post_headline{
	  height:1.7em;
	  line-height:1.7em
  }
  #p_group_head2,#p_group_head2 a{
	  word-spacing:normal;
	  word-wrap:normal
  }
  #p_group_head2 a{
	  text-decoration-line: underline;
	  text-emphasis: #8a2be2;
	  margin-left:0;
	  padding-left:0;
	  border-left:0
  }
  .np_post_body{
	  margin-top:1em;
	  padding: 0
  }
  .np_buttonbar{
	  padding:.1em;
	  margin-bottom:.625em;
  }
  td.np_button{
	  padding-right:.3em;
	  border-right:solid transparent .1em
  }
  a.np_button{
	  text-decoration:underline
  }
  .np_pages_selected{
	  font-weight:700;
	  margin-left:.3em
  }
  .np_pages_unselected{
	  text-decoration:underline;
	  margin-left:.3em
  }
  a.np_pages_unselected,span.np_pages_selected{
	  padding-left:.2em;
	  padding-right:.2em
  }
  span.np_thread_line_text{
	  display: block;
  }
  a:hover{
	  text-decoration: none;
  }
  .error,.notwanted{
	  height:22px;
	  line-height:22px;
	  font-weight: bolder;
	  word-spacing:.2em
  }
  p.error{
	  font-weight:bolder;
	  letter-spacing:.1em
  }
  table.np_buttonbar,table.np_buttonbar tbody,table.np_buttonbar tr,
  table.np_thread_table, table.np_thread_table tbody, table.np_thread_table tr{
		  max-width:99vw;
		  width:99vw
  }
  th.np_thread_subject{
		  max-width:80vw
  }
  table.np_buttonbar td.np_pages {
		  max-width:79vw;
		  text-align: end;
		  vertical-align: middle;
  }		
  #article td.np_button {
		  width:33vw;
		  text-align: center
  }
  .np_thread_head_author,.np_thread_subject,.np_thread_head_threadsize{
		  text-align: center
  }
  /* fin pas mobile */
  h1.np_article_headline{
		  overflow-wrap: break-word;
  }
  h1.np_post_headline{
	  padding-bottom: 1vw;
	  border-width: 0.4em;
	  padding-left: 1vw
  }
  h1,div.np_article_body,textarea,div.np_article_header,h1.np_thread_headline,#postbody{
		  width: 90vw;
		  max-width: 90vw
  }
  table.np_buttonbar,table.np_buttonbar tbody,table.np_buttonbar.tr{
		  overflow-wrap: break-word;
  }
  div.np_article_body,textarea,div.np_article_header,h1.np_thread_headline,#postbody{
	  width:90vw;
	  white-space:pre-wrap;
	  word-break:normal;
	  white-space:break-spaces;
	  word-wrap:break-word
  }
  h1,h1.np_thread_headline,h1.np_article_headline,h1.np_thread_headline
  ,td.np_thread_line_author span.np_thread_line_text,#article_np_article_headline{	
		 width: 90vw;
	  max-width: 87vw;
  }	
  td.np_thread_line_author span.np_thread_line_text{	
		 width: 25vw
  }
  h1,h1.np_thread_headline,h1.np_article_headline,h1.np_thread_headline,td.np_thread_line_author span.np_thread_line_text,
  span.np_thread_line_subject,#article_np_article_headline{	
		 white-space: nowrap;
	  text-overflow: ellipsis;
	  overflow: hidden
  }
  span.np_thread_line_subject, td.np_thread_line_author span.np_thread_line_text{
	  vertical-align: top;
	  max-width: none;
	  max-width: max-content;
	  max-width: fill-available;
	  max-width: 55vw;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  overflow: hidden;   
	  text-align-last: right;
	  overflow-wrap: break-spaces;
	  white-space:pre-wrap;
	  word-break:keep-all;
	  white-space:break-spaces
  }
  span.np_thread_line_subject a{
  vertical-align: top;
  margin: 0}
  td.np_thread_line_author span.np_thread_line_text{
	 overflow-wrap: break-word;
	  white-space:pre-wrap;
	  word-break:break-all;
	  white-space:break-spaces;
  }
  div.np_article_body > blockquote.np_article_quote {
	  margin-left: 0.2em
  }
  button, button a, input,a.button{
	  text-decoration: none;
	  border:0
  }
  button,a.button,input{
	  padding: 0.1em;
	  margin: 0.2em;
	  border-radius:10px;
	  border:2px threedlightshadow;
	  border-style:inset;
	  padding: 0.5em;
	  margin: 0.2em;
  }
  .space3,.spacer2{
	  margin-top: 1em
  }
  .spacer2{
	  margin-bottom: 2.1em
  }
  /*
  **********
  smartphone
  **********
  */
  @media (max-width: 1024px) {
	  /* a commenter */
	  @viewport {
		  zoom: 1
	  }
	  *{
		  box-sizing:border-box
	  }
	  body{
		  width: auto;
		  margin: 0;
		  padding: 0
	  }	
	  p {
			  display: block;
				 margin-block-start: 1em;
			  margin-block-end: 1em;
			  margin-inline-start: 0px;
			  margin-inline-end: 0px;
			  font-size:3.1vw
		 }
	  a.newsgroups,a.np_pages_unselected,span.np_pages_selected{
		  padding-left:.1em;
		  padding-right:.1em
	  }	
	  .thread_image,.thread_image2,.image_e,.image_i,.image_s,.image_L,.image_k1{
		  width:12px
	  }
	  .thread_image{
		  vertical-align:bottom
	  }
	  img.image_k2{
		  width:9px
	  }
	  img.image_T{
		  width:11px
	  }
	  /* .image_i ???*/
	  img.thread_image, .image_i{
		  text-align:left
	  }
	  br.spacer3 {
		  line-height: 135%
	  }
	  textarea {
		  width: 100%;
		  max-width: 90vw
	  }
	  .np_thread_head_threadsize,.np_thread_line_threadsize{
		  max-width:0;
		  margin:0;
		  padding:0;
		  text-align:center
	  }
	  tr.np_thread_line2,td.np_thread_line2{
		  border-bottom:.1em;
		  border-top:.1em;
		  }
	  #p_group_head2,#p_group_head2 a{
		  padding-top:1em;
		  letter-spacing:normal;
		  height:3em;
		  line-height:1em;
		  font-size: 4vw
	  }
	  #p_group_head2 nobr,#p_group_head2 nobr a{
		  border:0;
		  padding:0;
		  margin-left:0;
		  letter-spacing:normal;
		  height:1em;
		  line-height:1em
	  }
	  td.np_thread_line_subject{
		  max-width: 75vw	}
	  @media (max-width: 1024px){
  td.np_thread_line_author span.np_thread_line_text {
	  font-size: smaller;
  }}
	  tr.nocut td span.np_thread_line_subject{
		  max-width: 105vw
	  }
	  span.len0 {
		  max-width: 200%
	  }/* bug firefoxmobile? */
	  td.np_button a.np_button, h1 {
		  margin-right: 1.8vw;
		  margin-left: 1vw;
		  font-size: 4.2vw
	  }
	  .np_buttonbar{
		  padding:0.3em
	  }
	  .np_thread_table{
		  padding:0;
		  margin:0
	  }
	  .thread_image {
		  height:19px
	  }
	  span.np_pages_selected,.np_pages_unselected{
		  margin-left:1.5vw
	  }
	  a.np_pages_unselected,span.np_pages_selected{
		  padding-left:.8em;
		  padding-right:1.3em
	  }
	  span.np_pages_selected{
		  padding-right:1.5em
	  }
	  div.np_article_body,textarea,div.np_article_header,h1.np_thread_headline,#postbody, a{
		  font-size: 3.25vw
	  }
	  div.np_article_body,textarea,div.np_article_header,h1.np_thread_headline,#postbody
	  ,a.message-id,a.ref{
		  padding-left:6px;
		  line-height: 185%
	  }
	  #postbody{
		   line-height: 1.5em
	  }
	  h1.np_thread_headline,h1.np_article_headline{
		  max-width:40em
	  }
	  div.np_index_groups a{
		  max-width:20em
	  }
	  td.np_button a.np_button{
		  word-spacing:0;
		  letter-spacing:0
	  }
	  td.np_button{
		  border: 0.3em;
		  text-align: center
	  }
	  span.ckie{
		  max-width: 20em;
		  height: 3em
	  }
	  td.droite,td.droite b{
		  padding: 0;
		  margin: 0;
		  border: 0;
		  padding-right: 1vw;
		  font-size: 3vw
	  }
	  div.np_article_body{
		  max-width:50em
	  }
	  /* Chrome 29+ 	*/
	  @media screen and (-webkit-min-device-pixel-ratio:0)
		and (min-resolution:.001dpcm) {
	  input[type=text],button,a.button{
		  max-width: 85%
	  }
  #p_group_head2 {
	  max-width: 90%
  }
  }/* chrome */
	  .np_thread_line_threadsize,.np_thread_line_threadsize span.np_thread_line_text,.np_thread_head_threadsize,.np_thread_head_threadsize b,
	  td.np_button_back_to_group a, .nomobile{
		  display:none
  }
	  a.newsgroups{
		  font-size: larger;
	  }
	  span.fmttime,.fmttime { display: none}
	  span.fmtdate,.fmttime.red,.fmttime.fuchsia {
		   font-size:14px !important;display: block
	  }
	  span.vhaut, span.vbas, span.vmilieu {
		  border-left:O !important;
		  border-right:O !important;
	  }
	  span.vhaut {
		  border-top:25px !important;
		  padding-top: 25px !important;
		  margin-top: 25px !important;
		  margin-bottom: 5px !important;
		  border-bottom:O !important;
		  vertical-align: text-bottom !important;
	  }
	  span.vbas {
		  border-top:O !important;
		  border-bottom:25px !important;
		  padding-bottom: 25px !important;
		  margin-bottom: 25px !important;
		  vertical-align: text-top !important;
	  }
	  span.vmilieu {
		  border-top:25px !important;
		  margin-top: 25px !important;
		  border-bottom:25px !important;
		  margin-bottom: 25px !important;
		  vertical-align: middle !important;
	  }
	  span.np_thread_line_date{
		  margin-top: 25px !important;
		  padding-top: 25px !important;
		  margin-bottom: 25px !important;
		  padding-bottom: 25px !important;
				  padding-left:O !important;
		  width: 5em;
	  }
	  blockquote.np_article_quote{
		  border-left:.2em solid
	  }
	  th.np_thread_subject{
		  max-width:90vw;
	  }
	  td.np_thread_line_author span.np_thread_line_text{
			  max-width: 20vw
		  }
  /*paysage*/
  @media (orientation: landscape){
	  br.spacer3 {line-height: 115%}
	  #article_np_article_headline,div.np_index_groups a{
		  max-width:30em;
	  }
	  td.np_button_back_to_group, span.ckie{
		  display: inline-table;
		  max-width:13em;
		  white-space: nowrap
	  }
	  td.np_thread_line_author span.np_thread_line_text{
		  max-width:12em
	  }
	  td.droite,td.droite b{
			  padding:0;
			  margin:0;
			  font-weight:700;
	  }
	  #postbody,div.np_article_body{
			  max-width:70em
	  }
	  h1.np_post_headline,div.np_article_header{
		  padding-bottom: 0.6em
	  }
	  td.np_thread_line_author span.np_thread_line_text{
			  max-width: 14vw
	  }
  }/* landscape paysage*/
  
	  table.np_buttonbar,table.np_buttonbar tbody,table.np_buttonbar tr,
	  table.np_thread_table, table.np_thread_table tbody, table.np_thread_table tr { 
		  max-width:125vw;
		  width:125vw
	  }	
	  /* Chrome 29+ */
	  @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
		  .thread_image2,img.image_e,img.image_i,img.image_s,img.image_T,img.image_L,.image_k1{
			  height:36px;
			  margin: 0;
			  padding: 0
		  }
		  table.np_buttonbar,table.np_buttonbar tbody,table.np_buttonbar tr,
		  table.np_thread_table, table.np_thread_table tbody, table.np_thread_table tr{
					  max-width:98vw;
					  width:97vw
			  }
		  th.np_thread_subject{
			  max-width: 62vw;
		  }
		  span.np_thread_line_subject{
			  max-width: 65vw
		  }
		  table.np_buttonbar td.np_pages {
				  max-width:52vw;
		  }
	  }
  }
  td.droite,td.droite b
  , .thread_image2,img.image_e,img.image_i,img.image_s,img.image_T,img.image_L,.image_k1{
			  border:0;
  }
  div.np_article_body,textarea,#postbody{
		  margin-top: 2em;
		  font-family: monospace
  }
  @media screen and (max-width: 1024px){
  tr.np_thread_line1, tr.np_thread_line2, tr.np_thread_line1 td, tr.np_thread_line2 td
	  , tr.np_thread_line1 td span, tr.np_thread_line2 td span, tr.np_thread_line1 td span span
	  , tr.np_thread_line2 td span span, tr.np_thread_line1 td span a, tr.np_thread_line2 td span a {
					  font-size: 1.92vw
	  }
  
  span.fmtdate,.fmttime.red,.fmttime.fuchsia {
		   font-size:1.7vw !important;display: block
	  }
   table {border-spacing:0}
	  span.np_thread_line_date{
		  margin-top: 0.7vw !important;
		  padding-top: 1vw !important;
		  margin-bottom: 0.7vw !important;
		  padding-bottom: 1.2vw !important;
				  padding-left:O !important;
		  width: 5em;
	  }
  }
  
  /* 
  http://www.javascriptkit.com/dhtmltutors/cssmediaqueries2.shtml
  #### Mobile Phones Portrait #### */
  @media screen and (max-device-width: 480px) and (orientation: portrait){
   body{
	  font-size:2.3vw
   }
   tr.np_thread_line1, tr.np_thread_line2, tr.np_thread_line1 td, tr.np_thread_line2 td
	  , tr.np_thread_line1 td span, tr.np_thread_line2 td span, tr.np_thread_line1 td span span
	  , tr.np_thread_line2 td span span, tr.np_thread_line1 td span a, tr.np_thread_line2 td span a {
			  font-size: 2.33vw
   }
  span.fmtdate,.fmttime.red,.fmttime.fuchsia {
		   font-size:2vw !important;display: block
	  }
	  span.np_thread_line_date{
		  margin-top: 0.7vw !important;
		  padding-top: 1vw !important;
		  margin-bottom: 0.7vw !important;
		  padding-bottom: 1.2vw !important;
				  padding-left:O !important;
		  width: 5em;
	  }
  
  }
  
  /* #### Mobile Phones Landscape #### */
  @media screen and (max-device-width: 640px) and (orientation: landscape){
   body{
	  font-size: 25px; /*old smartphone?*/	
	  font-size: 2.3vw
   }
   tr.np_thread_line1, tr.np_thread_line2, tr.np_thread_line1 td, tr.np_thread_line2 td
	  , tr.np_thread_line1 td span, tr.np_thread_line2 td span, tr.np_thread_line1 td span span
	  , tr.np_thread_line2 td span span, tr.np_thread_line1 td span a, tr.np_thread_line2 td span a {
			  font-size: 2.33vw
   }
  span.fmtdate,.fmttime.red,.fmttime.fuchsia {
		   font-size:2vw !important;display: block
	  }
	  span.vbas {
		  border-top: O !important;
		  border-bottom: O !important;	
		  padding-bottom: 0.1vw !important;
		  margin-bottom: 0.1vw !important;
		  vertical-align: text-top !important;
	  }
	  span.vhaut {
		  border-top: 0.1vw !important;
		  padding-top: 0.1vw !important;
		  margin-top: 0.1vw !important;
		   margin-bottom: 0.1vw !important;
	  }
	  span.np_thread_line_date{
		  margin-top: 0 !important;
		  padding-top: 0.1vw !important;
		  margin-bottom: 0.1vw !important;
		  padding-bottom: 0.4vw !important;
				  padding-left:O !important;
		  width: 5em;
	  }
  
  }
  
  /* #### Mobile Phones Portrait or Landscape #### */
  @media screen and (max-device-width: 640px){
	body{
	  font-size:2.5vw
	  }
  tr.np_thread_line1, tr.np_thread_line2, tr.np_thread_line1 td, tr.np_thread_line2 td
	  , tr.np_thread_line1 td span, tr.np_thread_line2 td span, tr.np_thread_line1 td span span
	  , tr.np_thread_line2 td span span, tr.np_thread_line1 td span a, tr.np_thread_line2 td span a {
			  font-size: 3.52vw
	  }
	  span.fmtdate,.fmttime.red,.fmttime.fuchsia {
		   font-size:3.2vw !important;display: block
	  }
	  span.vbas {
		  border-top: O !important;
		  border-bottom: O !important;	
		  padding-bottom: 0.1vw !important;
		  margin-bottom: 0.1vw !important;
		  vertical-align: text-top !important;
	  }
	  span.vhaut {
		  border-top: 0.1vw !important;
		  padding-top: 0.1vw !important;
		  margin-top: 0.1vw !important;
		   margin-bottom: 0.1vw !important;
	  }
	  span.np_thread_line_date{
		  margin-top: 0 !important;
		  padding-top: 0.1vw !important;
		  margin-bottom: 0.1vw !important;
		  padding-bottom: 0.4vw !important;
				  padding-left:O !important;
		  width: 5em;
	  }
  
  }
  
  /* #### iPhone 4+ Portrait or Landscape #### */
  @media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
	body{
	  font-size:3.2vw
	  }
  tr.np_thread_line1, tr.np_thread_line2, tr.np_thread_line1 td, tr.np_thread_line2 td
	  , tr.np_thread_line1 td span, tr.np_thread_line2 td span, tr.np_thread_line1 td span span
	  , tr.np_thread_line2 td span span, tr.np_thread_line1 td span a, tr.np_thread_line2 td span a {
			  font-size: 3.4vw
	  }
	  span.fmtdate,.fmttime.red,.fmttime.fuchsia {
		   font-size:3vw !important;display: block
	  }
	  span.vbas {
		  border-top: O !important;
		  border-bottom: O !important;	
		  padding-bottom: 0.1vw !important;
		  margin-bottom: 0.1vw !important;
		  vertical-align: text-top !important;
	  }
	  span.vhaut {
		  border-top: 0.1vw !important;
		  padding-top: 0.1vw !important;
		  margin-top: 0.1vw !important;
		   margin-bottom: 0.1vw !important;
	  }
	  span.np_thread_line_date{
		  margin-top: 0 !important;
		  padding-top: 0.1vw !important;
		  margin-bottom: 0.1vw !important;
		  padding-bottom: 0.4vw !important;
				  padding-left:O !important;
		  width: 5em;
	  }
  }
  
  /* #### iPhone 5 Portrait or Landscape #### */
  @media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
	body{
	  font-size:3.7vw
	  }
  tr.np_thread_line1, tr.np_thread_line2, tr.np_thread_line1 td, tr.np_thread_line2 td
	  , tr.np_thread_line1 td span, tr.np_thread_line2 td span, tr.np_thread_line1 td span span
	  , tr.np_thread_line2 td span span, tr.np_thread_line1 td span a, tr.np_thread_line2 td span a {
			  font-size: 3.33vw
	  }
	  span.fmtdate,.fmttime.red,.fmttime.fuchsia {
		   font-size:3.2vw !important;display: block
	  }
	  span.np_thread_line_date{
		  margin-top: 0.7vw !important;
		  padding-top: 1.5vw !important;
		  margin-bottom: 0.7vw !important;
		  padding-bottom: 1.5vw !important;
				  padding-left:O !important;
		  width: 5em;
	  }
  }
  
  /* #### iPhone 6 and 6 plus Portrait or Landscape #### */
  @media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
	body{
		  font-size:4vw
	  }
	  
  tr.np_thread_line1, tr.np_thread_line2, tr.np_thread_line1 td, tr.np_thread_line2 td
	  , tr.np_thread_line1 td span, tr.np_thread_line2 td span, tr.np_thread_line1 td span span
	  , tr.np_thread_line2 td span span, tr.np_thread_line1 td span a, tr.np_thread_line2 td span a {
			  font-size: 3.55vw
	  }
	  span.fmtdate,.fmttime.red,.fmttime.fuchsia {
		   font-size:3.2vw !important;display: block
	  }
	  span.np_thread_line_date{
		  margin-top: 0.7vw !important;
		  padding-top: 1.7vw !important;
		  margin-bottom: 0.7vw !important;
		  padding-bottom: 1.9vw !important;
				  padding-left:O !important;
		  width: 5em;
	  }
  }
  
  /* #### Tablets Portrait or Landscape #### */
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
	body{
	  font-size: 2.6vw
	  }
	  
  tr.np_thread_line1, tr.np_thread_line2, tr.np_thread_line1 td, tr.np_thread_line2 td
	  , tr.np_thread_line1 td span, tr.np_thread_line2 td span, tr.np_thread_line1 td span span
	  , tr.np_thread_line2 td span span, tr.np_thread_line1 td span a, tr.np_thread_line2 td span a {
			  font-size: 2.8vw
	  }
  
	  span.fmtdate,.fmttime.red,.fmttime.fuchsia {
		   font-size:2vw !important;display: block
	  }
	  span.np_thread_line_date{
		  margin-top: 0.4vw !important;
		  padding-top: 1vw !important;
		  margin-bottom: 0.4vw !important;
		  padding-bottom: 1.2vw !important;
				  padding-left:O !important;
		  width: 5em;
	  }
  }
  
  /* #### Desktops #### */
  @media screen and (min-width: 1024px){
	body{
		  font-size: 1.45vw
	  }
	  tr.np_thread_line1, tr.np_thread_line2, tr.np_thread_line1 td, tr.np_thread_line2 td
	  , tr.np_thread_line1 td span, tr.np_thread_line2 td span, tr.np_thread_line1 td span span
	  , tr.np_thread_line2 td span span, tr.np_thread_line1 td span a, tr.np_thread_line2 td span a {
		  font-size: 23px;
	  }
	  span.fmtdate,.fmttime.red,.fmttime.fuchsia {
		   font-size:18px !important;display: block
	  }
	  span.np_thread_line_date{
		  margin-top: 8px !important;
		  padding-top: 1Opx !important;
		  margin-bottom: 8px !important;
		  padding-bottom: 14px !important;
				  padding-left:O !important;
		  width: 5em;
	  }
	  .np_thread_head_author b,.np_thread_head_author, .np_thread_line_author, .np_thread_line_author span {
		  max-width: 12vw
	  }
	  td.np_thread_line_threadsize,td.np_thread_head_threadsize b{
		  width: 5vw;
		  max-width: 5vw;
		  padding: 0;
		  margin: 0;
		  border-spacing: 0;
		  padding-left: 0;
		  text-align: center;
	  }
	  .np_thread_subject, .np_thread_subject b{
		  width: 49vw;
		  max-width: 49vw;
		  }
  }
  